
<div class="row container-fluid" style="background-image: url('https://image.winudf.com/v2/image/Y29tLlJlc29ydHdhbGxwYXBlcnMucGljdHVyZXMuYmFja2dyb3VuZHMucGhvdG9zLmltYWdlcy5oZC5mcmVlLmJlYXV0aWZ1bF9zY3JlZW5fMl8xNTMzODgyMTk0XzA4OQ/screen-2.jpg?fakeurl=1&type=.webp')">
<h2 class="text-center">CUSTOMER INFORMATION</h2>
<a>
  <button class="btn btn-primary">Back to CustomerList</button>
</a>
<span style="color:red;"></span>
<div class="d-flex justify-content-center">
  <form class="w-50 border border-2 border-success p-3 rounded" method="post">
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Tên Khách Hàng:</label>
      <input type="text" class="form-control"  id="recipient-name">
    </div>
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Ngày Sinh</label>
      <input type="date"  class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label d-block me-4">Giới tính</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault"
               id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Male
        </label>
      </div>
      <div class="form-check">
        <input  class="form-check-input" type="radio" name="flexRadioDefault"
                id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Female
        </label>
      </div>
    </div>
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">CMND</label>
      <input required type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Số điện thoại</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Email</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label for="recipient-name" class="col-form-label">Địa chỉ</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Loại khách hàng</label>
      <select class="form-select" aria-label="Default select example">
        <option></option>
      </select>
    </div>
    <div class="mb-3 text-center">
      <input type="submit" id="btnSave"
             class=" form-control btn btn-info btn-outline-success btn-sm border border-2 border-success text-dark "
             value="SAVE">
    </div>
  </form>
</div>
</div>
<script>
  // let REGEX_PHONE_NUMBER = /((090)|(091)|([(]84[)]+090)|([(]84[)][+]091))\d{7}$/;
  // let REGEX_EMAIL = /^\w+[@](\w+.\w+){1,2}$/;
  // let REGEX_CMND = /^[1-9]\d{8}$/;
  // function checkName(name,regName) {
  //     let checkedName = regName.exec(name);
  //     if (!checkedName) {
  //         document.getElementById("errorName").innerText = "Chưa đúng định dạng"
  //         document.getElementById("btnSave").disabled = true;
  //     } else {
  //         document.getElementById("btnSave").disabled = false;
  //         document.getElementById("errorName").innerText = ""
  //     }
  // }
  // function checkEmail(name,regName) {
  //     let checkedName = regName.exec(name);
  //     if (!checkedName) {
  //         document.getElementById("errorEmail").innerText = "Email sai định dạng"
  //         document.getElementById("btnSave").disabled = true;
  //     } else {
  //         document.getElementById("btnSave").disabled = false;
  //         document.getElementById("errorEmail").innerText = ""
  //     }
  // }
  // function checkCMND(name,regName) {
  //     let checkedName = regName.exec(name);
  //     if (!checkedName) {
  //         document.getElementById("errorCMND").innerText = "CMND sai định dạng"
  //         document.getElementById("btnSave").disabled = true;
  //     } else {
  //         document.getElementById("btnSave").disabled = false;
  //         document.getElementById("errorCMND").innerText = ""
  //     }
  // }
</script>

