<h2 class="text-center">
  Todo App
</h2>

<div class="col-md-8 offset-md-2">
  <input type="text" class="form-control" [formControl]="content" (change)="change()">
  <table>

    <tr
        [class.complete]=toggleTodo(i)
        *ngFor="let todo of todos; index as i">
    <td>  {{todo.id}}</td>
     <td> content:{{todo.content}}</td>
      <td>
        <button (click)="onDelete(todo.id)">Delete</button>
      </td>
      <td ><a routerLink="/edit/{{todo.id}}">Edit</a></td>
    </tr>
</table>
</div>
