<a routerLink="/cars/create">
<button class="btn btn-primary">ADD NEW CAR INFORMATION</button>
</a>
<div class="row container-fluid">
  <h1 class="text-center my-3">LIST </h1>
  <table class="table table-striped table-bordered text-center" style="width:100%" id="furama">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Card-Id</th>
      <th scope="col">Name</th>
      <th scope="col">StartPoint</th>
      <th scope="col">EndPoint</th>
      <th scope="col">Phone-Number</th>
      <th scope="col">Email</th>
      <th scope="col">StartHour</th>
      <th scope="col">EndHour</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr *ngFor="let c of cars , index as i">
      <td>{{i + 1}}</td>
      <td>{{c.id}}</td>
      <td>{{c.companyName}}</td>
      <td>{{c.departure.name}}</td>
      <td>{{c.destination.name}}</td>
      <td>{{c.phoneNumber}}</td>
      <td>{{c.email}}</td>
      <td>{{c.startHour}}</td>
      <td>{{c.endHour}}</td>
      <td>
        <a routerLink="/cars/edit/{{c.id}}">
          <button type="button" class="btn btn-warning"><img src="https://img.icons8.com/ios-glyphs/1x/edit.png">
          </button>
        </a>
      </td>
      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" (click)="getCarInFo(c.id,c.companyName)"
                data-bs-toggle="modal" data-bs-target="#exampleModal">
          <img src="https://img.icons8.com/ios-glyphs/1x/delete-forever.png">
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">DELETE INFORMATION</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <strong>Do you want to delete Id-Car: </strong>
          <span id="nameDelete" class="text-danger">{{idDelete}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
          <button type="button" class="btn btn-primary" (click)="deleteCar()" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
