<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home::head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div th:replace="~{/home::nav}"></div>
<div class="container-fluid">
    <span th:text="${msg}" style="color:red;"></span>
    <h1 class="text-center my-3">LIST CUSTOMER </h1>
    <div class="row my-1">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <form class="d-flex mx-3" role="search">
                <input class="form-control me-2" name="nameSearch" type="search" placeholder="nameSearch"
                       aria-label="Search">
                <input class="form-control me-2" name="email" type="search" placeholder="SearchByEmail" aria-label="Search">
                <select name="customerTypeId">
                    <option value="" th:text="Type"></option>
                    <option th:each="customerType: ${customerTypeList}" th:value="${customerType.id}"
                            th:text="${customerType.name}"></option>
                </select>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
    <a th:href="@{/customer/create}">
        <button class="btn btn-primary">ADD NEW CUSTOMER</button>
    </a>
    <table class="table table-striped table-bordered text-center" style="width:100%" id="furama">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Gender</th>
            <th scope="col">Id-card</th>
            <th scope="col">Phone-Number</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">CustomerType</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="customer: ${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.dateOfBirth}"></td>
            <td th:if="${customer.gender==0}">
                <span th:text="Nam"></span>
            </td>
            <td th:if="${customer.gender==1}">
                <span th:text="Nữ"></span>
            </td>
            <td th:text="${customer.idCard}"></td>
            <td th:text="${customer.phoneNumber}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.customerType.name}"></td>
            <td>
                <a th:href="@{/customer/edit/__${customer.id}__}">
                    <button type="button" class="btn btn-warning"><img src="https://img.icons8.com/ios-glyphs/1x/edit.png">
                    </button>
                </a>
            </td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                        th:attr="onclick=|deleteCustomer('${customer.id}','${customer.name}')|">
                    <img src="https://img.icons8.com/ios-glyphs/1x/delete-forever.png">
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" th:action="@{/customer/delete}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">DELETE CUSTOMER</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="idDelete" hidden id="idDelete">
                        <strong>Customer: </strong>
                        <span id="nameDelete" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                        <button type="submit" class="btn btn-primary">OK</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a th:href="@{/furama/customer(page=${customers.number - 1},nameSearch=${nameSearch},email=${email},customerTypeId=${customerTypeId})}"
           th:if="${customers.hasPrevious()}">
            <button type="button" class="btn btn-primary">Previous</button>
        </a>
        <span th:text="${customers.number+1}"></span>/<span th:text="${customers.totalPages}"></span>
        <a th:href="@{/furama/customer(page=${customers.number+1},nameSearch=${nameSearch},email=${email},customerTypeId=${customerTypeId})}"
           th:if="${customers.hasNext()}">
            <button type="button" class="btn btn-primary">Next</button>
        </a>
        <!--    <p th:text="${customers.number}"></p>-->
    </div>
</div>
<div th:replace="~{/home::footer}"></div>
</body>
<script>
    function deleteCustomer(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;
    }
</script>
</html>
